<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RecordDao">
    <insert id="add" parameterType="com.example.demo.pojo.Record">
        INSERT INTO record VALUES (0,#{customerId},#{source},#{note},#{state},#{recordDate})
    </insert>

    <select id="showAll" resultType="com.example.demo.pojo.Record">
        SELECT * FROM record ORDER BY recordId DESC
    </select>

    <delete id="del" parameterType="Integer">
        DELETE FROM record WHERE customerId=#{recordId}
    </delete>

    <update id="edit" parameterType="com.example.demo.pojo.Record">
        UPDATE record SET customerId = #{customerId} ,`source` = #{source}, `note` = #{note}, `state` = #{state},recordDate=#{recordDate} WHERE `recordId` = #{recordId}
    </update>

    <delete id="delById">
        DELETE FROM record WHERE recordId IN (${ids})
    </delete>
</mapper>